.wrapper {
    width: 1300px;
    margin: 0 auto;
}

header {
    height: 560px;
    background: url("./assets/img/header-bg.png");
    padding: 0 140px;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    margin-top: 33px;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin-top: 70px;
}

.img-about {
    width: 21px;
    height: 19px;
    margin-left: 43px;
    margin-right: 11px;
}

.img-services {
    width: 19px;
    height: 19px;
    margin-right: 11px;
}

.img-contact {
    width: 24px;
    height: 18px;
    margin-right: 9px;
}

.navbar ul li {
    padding: 13px;
    text-transform: uppercase;
    background: #f5c505;
    border-right: 1px solid #a18208;
}

.navbar ul li>a {
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 0px;
    color: #9b7d08;
    font-family: "Segoe WP";
    text-align: center;
    position: relative;
    bottom: 3px;
    margin-right: 4px;
}