.wrapper {
    width: 1300px;
    margin: 0 auto;
}

.inner-content {
    padding: 0 140px;
}

.header-wrapper {
    height: 570px;
    background: url("./assets/img/header-bg.png");
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    margin-top: 33px;
    height: 87px;
    width: 318px;
}

.mobile-navbar {
    display: none;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin-top: 78px;
    box-shadow: -6px -6px rgba(245, 197, 5, 0.27),
        -9px -9px 1px rgba(245, 197, 5, 0.27);
    padding-left: 0;
}

.img-about {
    width: 21px;
    height: 19px;
    margin-left: 36px;
    margin-right: 11px;
}

.img-services {
    width: 19px;
    height: 19px;
    margin-right: 11px;
}

.img-contact {
    width: 24px;
    height: 18px;
    margin-right: 9px;
}

.navbar ul li {
    padding: 9px 18px;
    text-transform: uppercase;
    background: #f5c505;
    border-right: 1px solid #a18208;
    cursor: pointer;
}

.navbar ul li:nth-child(1) {
    padding-left: 0;
}

.navbar ul li>a {
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 0px;
    color: #9b7d08;
    font-family: "Segoe WP";
    text-align: center;
    position: relative;
    bottom: 3px;
    margin-right: 1px;
}

.header-content {
    margin-top: 50px;
    display: flex;
}

.video-wrapper {
    width: 545px;
    height: 330px;
    margin-left: 11px;
    margin-top: -10px;
    position: relative;
}

.video-wrapper::before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 545px;
    height: 330px;
    background: #f5c505;
    opacity: 0.1;
}

.video-wrapper>video {
    object-fit: none;
    border-radius: 6px;
}

h1 {
    font-size: 63px;
    letter-spacing: 1px;
    color: #fff;
    font-family: "Asap";
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin: 67px 0px 0px 48px;
}

h1>span {
    color: #f5c506;
    margin-left: -8px;
}

.left-arrow {
    position: absolute;
    top: 305px;
    left: 0;
    height: 60px;
    width: 33px;
    background: #f5c506;
    cursor: pointer;
}

.left-arrow>span {
    position: absolute;
    top: 21px;
    left: 11px;
    display: block;
    width: 10px;
    height: 10px;
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
    transform: rotate(45deg);
}

.right-arrow {
    position: absolute;
    top: 305px;
    right: 0;
    height: 60px;
    width: 33px;
    background: #f5c506;
    cursor: pointer;
}

.right-arrow:hover,
.left-arrow:hover {
    background: #c59f0b;
}

.navbar ul li:hover {
    opacity: 0.7;
}

.navbar ul li:hover a {
    color: #000;
}

.right-arrow>span {
    position: absolute;
    top: 21px;
    right: 11px;
    display: block;
    width: 10px;
    height: 10px;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
    transform: rotate(-45deg);
}

.icons-wrapper {
    display: flex;
    background: url('./assets/img/white-bg.png');
    height: 214px;
}

.icon-item {
    flex: 1;
    border-right: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
}

.left-icon {
    border-left: 2px solid #d4d4d4;
}

.right-icon {
    border-right: 2px solid #d4d4d4;
}

.cloud {
    display: block;
    width: 109px;
    height: 74px;
    margin: 65px auto 0;
}

.leaf {
    display: block;
    width: 91px;
    height: 95px;
    margin: 38px auto 0;
    position: relative;
    left: 12px;
}

.airplane {
    display: block;
    width: 81px;
    height: 83px;
    margin: 58px auto 0;
    position: relative;
    left: -9px;
    top: -2px;
}

.cloud+p {
    font-size: 27px;
    letter-spacing: 0px;
    color: #000000;
    font-family: "Segoe UI";
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-top: 9px;
    margin-bottom: 35px;
    margin-left: 12px;
}

.leaf+p {
    font-size: 27px;
    letter-spacing: 0px;
    color: #000000;
    font-family: "Segoe WP";
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 35px;
    margin-left: 15px;
}

.airplane+p {
    font-size: 27px;
    letter-spacing: 0px;
    color: #000000;
    font-family: "Segoe WP";
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 35px;
    margin-left: -18px;
}

.yellow-section {
    height: 511px;
    background: url("./assets/img/bg-section.png");
}

.yellow-section h2 {
    margin: 0;
    font-size: 37px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "PT Sans";
    font-weight: 400;
    text-transform: uppercase;
    padding: 34px 0;
    margin-left: 2px;
}

.yellow-wrapper {
    display: flex;
}

.column-item {
    flex: 1;
    position: relative;
    height: 233px;
}

.column-item>video {
    object-fit: none;
}

.text-column {
    background: #ec9e03;
}

.text-column>p {
    margin: 0;
    font-size: 29px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe WP";
    font-weight: 300;
    text-align: left;
    padding: 17px 30px;
}

.twitter {
    background: #ec9e03;
}

.twitter>img {
    display: block;
    margin: 58px auto;
}

.plus {
    position: absolute;
    bottom: 12px;
    right: 12px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: "Segoe WP";
    text-decoration: none;
}

.plus:hover {
    color: #c59f0b;
}

.number {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe WP";
    font-weight: 300;
}

.date {
    width: 108px;
    height: 78px;
    background: #ddb101;
    opacity: 0.8;
    padding-bottom: 8px;
}

.date-number {
    padding-top: 5px;
    display: block;
    text-align: center;
    font-size: 46px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-weight: bold;
    position: relative;
    top: 7px;
    left: 3px;
}

.date-month {
    display: block;
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #b26529;
    font-family: "Segoe UI";
    text-transform: uppercase;
    text-align: center;
    margin: 6px auto;
}

.twitter-section {
    display: none;
}

.input-range {
    display: block;
    -webkit-appearance: none;
    width: 892px;
    height: 16px;
    margin: 43px auto 0;
    background: #fae282;
    border-radius: 15px;
    position: relative;
    left: 9px;
    top: 2px;
    outline: none;
}

.input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 192px;
    height: 16px;
    cursor: pointer;
    background: #ec9e03;
    border-radius: 15px;
}

.input-range::-moz-range-thumb {
    width: 192px;
    height: 16px;
    cursor: pointer;
    background: #ec9e03;
    border-radius: 15px;
}

.grey-section {
    background: url('./assets/img/grey-bg.png');
    height: 498px;
}

.parent {
    position: relative;
}

.grey-section h2 {
    margin: 0;
    font-size: 43px;
    letter-spacing: 0px;
    color: #f5c506;
    font-family: "PT Sans";
    font-weight: 400;
    text-transform: uppercase;
    padding: 38px 0 57px 0;
    text-align: center;
}

.monitor {
    display: inline-block;
    height: 252px;
    width: 325px;
    position: relative;
    left: 14px;
}

.tablet {
    display: inline-block;
    margin: 0 25px;
    height: 170px;
    width: 132px;
    position: relative;
    left: 10px;
    top: -43px;
}

.mobile {
    display: inline-block;
    height: 62px;
    width: 39px;
    position: relative;
    left: 2px;
    top: -43px;
}

.list {
    display: inline-block;
    list-style-image: url(./assets/img/yellow-circle.svg);
    margin-left: 103px;
    position: absolute;
    padding-left: 0;
    top: 167px;
}

.list>li {
    font-size: 22px;
    letter-spacing: 0px;
    color: #a9a9a7;
    width: 352px;
    height: 45px;
    font-family: "Open Sans";
    font-weight: 400;
    margin-bottom: 10px;
    padding-left: 14px;
}

.list>li:nth-child(2) {
    position: relative;
    bottom: 8px;
}

.free {
    position: absolute;
    width: 114px;
    height: 114px;
    background: #f5c506;
    border-radius: 50%;
    top: 91px;
    left: 136px;
    z-index: 1;
}

.free>p {
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: "PT Sans Narrow";
    font-weight: 700;
    margin: 0;
    position: relative;
    top: 50px;
    left: 7px;
}

footer {
    background: #4c4c4c;
    box-shadow: -1px -10px 6px -7px rgba(0, 0, 0, 0.7);
    height: 65px;
}

.logo-footer {
    margin-top: 5px;
}

@media (max-width: 640px) {
    .wrapper {
        width: 100%;
        margin: 0;
    }

    .inner-content {
        padding: 0;
    }

    .header {
        display: block;
    }

    .navbar,
    .header-logo,
    h1,
    .left-arrow,
    .right-arrow,
    .list,
    .yellow-section h2,
    .twitter,
    .date,
    .input-range {
        display: none;
    }

    .header-wrapper {
        background-image: none;
        height: 100%;
        ;
    }

    .header-content {
        margin: 0;
    }

    .logo-item {
        height: 36px;
        width: 151px;
        position: relative;
        bottom: 8px;
    }

    .mobile-navbar {
        display: block;
    }

    .mobile-navbar ul {
        padding-left: 0;
        display: flex;
        height: 60px;
        margin: 0;
    }

    .mobile-navbar li {
        flex: 1;
        display: inline-block;
        text-transform: uppercase;
        background: #f5c505;
        border-right: 1px solid #a18208;
        cursor: pointer;
        text-align: center;
        padding-top: 20px;
    }

    .mobile-navbar li:hover {
        background-image: linear-gradient(0deg, #282826 0%, #40403e 100%);
    }

    .mobile-navbar li:hover a {
        color: #fff;
    }

    .mobile-navbar li:nth-child(1) {
        background-image: linear-gradient(0deg, #282826 0%, #40403e 100%);
        min-width: 185px;
    }

    .mobile-navbar li:nth-child(2) {
        min-width: 172px;
    }

    .mobile-navbar li:nth-child(3) {
        min-width: 128px;
    }

    .img-about {
        margin-left: 15px;
    }

    .mobile-navbar li a {
        text-decoration: none;
        font-size: 19px;
        letter-spacing: 0px;
        color: #9b7d08;
        font-family: "Segoe WP";
        text-align: center;
        position: relative;
        bottom: 3px;
        margin-right: 1px;
    }

    .video-wrapper {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .video-wrapper::before {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .video-wrapper>video {
        object-fit: cover;
        width: 100%;
        height: 325px;
    }

    .icon-item {
        height: 171px;
        border: none;
    }

    .yellow-section {
        height: 100%;
        background: #fff;
    }

    .icons-wrapper {
        height: 166px;
    }

    .column-item {
        margin: 16px 3px 6px 6px;
    }

    .cloud {
        display: block;
        width: 90px;
        height: 74px;
        margin: 27px 0 0 39px;
    }

    .cloud+p {
        font-size: 23px;
        margin-bottom: 35px;
        margin-left: -29px;
    }

    .leaf {
        width: 63px;
        height: 95px;
        margin: 17px auto 0;
    }

    .leaf+p {
        font-size: 22px;
        margin-top: 5px;
    }

    .airplane {
        width: 55px;
        height: 83px;
        top: -38px;
    }

    .airplane+p {
        font-size: 23px;
        margin-top: -22px;
        margin-bottom: 7px;
        margin-left: 5px;
    }

    .text-column>p {
        line-height: 31px;
    }

    .twitter-section {
        display: flex;
        height: 233px;
        background: #f5c507;
    }

    .twitter-item {
        flex: 1;
    }

    .twitter-item>img {
        display: block;
        width: 169px;
        height: 147px;
        margin: 55px auto;
    }

    .twitter-item ul {
        padding-left: 8px;
        padding-top: 1px;
        list-style: none;
    }

    .twitter-item ul li {
        width: 281px;
        height: 40px;
        border-radius: 10px;
    }

    .twitter-item ul li:nth-child(1) {
        background: url('./assets/img/message-1.png');
        background-repeat: no-repeat no-repeat;
    }

    .twitter-item ul li:nth-child(2) {
        background: url('./assets/img/message-2.png');
        background-repeat: no-repeat no-repeat;
    }

    .twitter-item ul li:nth-child(3) {
        background: url('./assets/img/message-3.png');
        background-repeat: no-repeat no-repeat;
    }

    .grey-section {
        height: 471px;
    }

    .grey-section h2 {
        padding-top: 40px;
    }

    .text-message {
        font-size: 13px;
        letter-spacing: 0px;
        color: #8f8e8e;
        font-family: "Arial";
        position: relative;
        left: 30px;
        top: 8px;
    }

    .author {
        font-size: 13px;
        letter-spacing: 0px;
        color: #8f8e8e;
        font-family: "Arial";
        position: relative;
        left: 30px;
        bottom: 5px;
        margin: 0;
    }

    form {
        position: relative;
        left: 8px;
    }

    #tweet-text {
        width: 260px;
        height: 29px;
        border-radius: 10px;
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.15);
        position: relative;
        left: 10px;
        padding-left: 10px;
    }

    #btn-tweet {
        background-image: linear-gradient(0deg, #d18f0d 0%, #e7a623 100%);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 33px;
        width: 65px;
        position: absolute;
        right: 32px;
        top: 0;
        font-size: 15px;
        letter-spacing: 0px;
        color: #ffffff;
        font-family: "Arial";
        border: none;
    }

    .free {
        top: 123px;
        left: 32px;
    }

    .monitor {
        left: 63px;
        top: 20px;
    }

    .tablet {
        left: 50px;
        top: -21px;
    }

    .mobile {
        left: 46px;
        top: -24px;
    }

    footer {
        height: 39px;
    }

    .logo-footer {
        width: 132px;
        height: 32px;
        margin: 7px 0 56px 77px;
    }
}