@font-face {
    font-family: "Arial";
    src: url("assets/fonts/ArialRegular.eot");
    src: url("assets/fonts/ArialRegular.eot?#iefix")format("embedded-opentype"),
        url("assets/fonts/ArialRegular.woff") format("woff"),
        url("assets/fonts/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Asap";
    src: url("assets/fonts/Asap-Regular.otf") format("truetype");
}

@font-face {
    font-family: "Segoe WP";
    src: url("assets/fonts/segoe-wp-light.ttf") format("truetype");
}

@font-face {
    font-family: "Segoe UI";
    src: url("assets/fonts/segoeui.ttf") format("truetype");
}

.wrapper {
    width: 1300px;
    margin: 0 auto;
}

.inner-content {
    padding: 0 140px;
}

.header-wrapper {
    height: 570px;
    background: url("./assets/img/header-bg.png");
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    margin-top: 33px;
    height: 87px;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin-top: 70px;
}

.img-about {
    width: 21px;
    height: 19px;
    margin-left: 43px;
    margin-right: 11px;
}

.img-services {
    width: 19px;
    height: 19px;
    margin-right: 11px;
}

.img-contact {
    width: 24px;
    height: 18px;
    margin-right: 9px;
}

.navbar ul li {
    padding: 13px;
    text-transform: uppercase;
    background: #f5c505;
    border-right: 1px solid #a18208;
}

.navbar ul li>a {
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 0px;
    color: #9b7d08;
    font-family: "Segoe WP";
    text-align: center;
    position: relative;
    bottom: 3px;
    margin-right: 4px;
}

.header-content {
    margin-top: 50px;
    display: flex;
}

h1 {
    font-size: 63px;
    letter-spacing: 1px;
    color: #fff;
    font-family: "Asap";
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin: 110px 0 0 42px;
}

h1>span {
    color: #f5c506
}

.left-arrow {
    position: absolute;
    top: 305px;
    left: 0;
    height: 60px;
    width: 33px;
    background: #cba60d;
    cursor: pointer;
}

.left-arrow>span {
    position: absolute;
    top: 21px;
    left: 11px;
    display: block;
    width: 10px;
    height: 10px;
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
    transform: rotate(45deg);
}

.right-arrow {
    position: absolute;
    top: 305px;
    right: 0;
    height: 60px;
    width: 33px;
    background: #cba60d;
    cursor: pointer;
}

.right-arrow>span {
    position: absolute;
    top: 21px;
    right: 11px;
    display: block;
    width: 10px;
    height: 10px;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
    transform: rotate(-45deg);
}

.icons-wrapper {
    display: flex;
}

.icon-item {
    flex: 1;
    border-right: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
}

.left-icon {
    border-left: 2px solid #d4d4d4;
}

.right-icon {
    border-right: 2px solid #d4d4d4;
}

.cloud {
    display: block;
    width: 109px;
    height: 74px;
    margin: 65px auto 0;
}

.leaf {
    display: block;
    width: 91px;
    height: 95px;
    margin: 38px auto 0;
}

.airplane {
    display: block;
    width: 81px;
    height: 83px;
    margin: 58px auto 0;
}

.icon-item>p {
    font-size: 27px;
    letter-spacing: 0px;
    color: #000000;
    font-family: "Segoe WP";
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-top: 23px;
    margin-bottom: 35px;
}

.yellow-section {
    height: 511px;
    background: url("./assets/img/bg-section.png");
}